:root {
    --buttonMarginBottom: 15px;
    --background-color: #e4b554;
    --background-color-field: #ffffff;
    --font-size-input: large;
    --button-border-rounding: 21px;
    --field-height: 35px;
}

body {
        background-color: var(--background-color);
        background-image: url("pictures/smug-freiren-1.png");
        background-repeat: no-repeat;
        background-position-x: right;
    }
    
    .CuteAnimeRNG {
        margin: auto;
        width: 50%;
        border: 3px solid yellow;
        padding: 10px;
    }
    
    .InstructionText {
        margin: auto;
        width: 75%;
        text-align: center;
        font-size: xx-large;
        background-image: linear-gradient(to right, rebeccapurple, dodgerblue, limegreen, red);
        background-clip: text;
        -webkit-text-stroke-color: linear-gradient(to right, violet, dodgerblue, chartreuse, red);
        -webkit-text-stroke-width: medium;
        color: transparent;
        animation: rainbow_animation 6s linear infinite;
        background-size: 400% 100%;
    }

    @keyframes rainbow_animation {
        0%, 100% {
            background-position: 0 0;
        }

        50% {
            background-position: 100% 0;
        }
    }
    
    .ClearTextButton {
        background-color: var(--background-color-field);
        margin: auto;
        display: flex;
        align-items: center;
        width: 25%;
        border: 3px solid black;
        text-align: center;
        margin-bottom: var(--buttonMarginBottom);
    }
    
    .GenerateButton {
        background-color: var(--background-color-field);
        font-size: var(--font-size-input);
        margin: auto;
        display:block;
        align-items: center;
        width: 25%;
        height: 69px;
        border: 3px solid darkred;
        margin-bottom: var(--buttonMarginBottom);
        text-align: center;
        border-radius: var(--button-border-rounding);
    }
    
    .MinimumTextField {
        background-color: var(--background-color-field);
        font-size: var(--font-size-input);
        margin: auto;
        display: flex;
        align-items: center;
        width: 20%;
        height: var(--field-height);
        border: 1px solid black;
        text-align: center;
    }
    
    .MaximumTextField {
        background-color: var(--background-color-field);
        font-size: var(--font-size-input);
        margin: auto;
        display: flex;
        align-items: center;
        width: 20%;
        height: var(--field-height);
        border: 1px solid black;
        text-align: center;
        margin-bottom: var(--buttonMarginBottom);
    }
    
    .GenerateTotalTextField{
        background-color: var(--background-color-field);
        font-size: var(--font-size-input);
        margin: auto;
        display: flex;
        align-items: center;
        width: 25%;
        height: var(--field-height);
        border: 1px solid black;
        text-align: center;
        margin-bottom: var(--buttonMarginBottom);
    }
    
    .DisplayNumber {
        background-color: var(--background-color-field);
        margin: auto;
        display: flex;
        align-items: center;
        width: 15%;
        height: var(--field-height);
        border: 1px solid black;
        text-align: center;
        margin-bottom: var(--buttonMarginBottom);
    }
    
    .RandomNumberCopyButton {
        background-color: var(--background-color-field);
        font-size: var(--font-size-input);
        margin: auto;
        display: flex;
        align-items: center;
        width: 25%;
        height: 69px;
        border: 3px solid darkred;
        text-align: center;
        margin-bottom: var(--buttonMarginBottom);
        border-radius: var(--button-border-rounding);
    }
    
    .NotifyCopied {
        background-color: var(--background-color-field);
        font-size: var(--font-size-input);
        margin: auto;
        display: flex;
        align-items: center;
        width: 20%;
        height: var(--field-height);
        border: 3px solid black;
        text-align: center;
        margin-bottom: var(--buttonMarginBottom);
    }
    
    .GeneratedNumbersTextField{
        font-size: x-large;
        margin: auto;
        display: flex;
        align-items: center;
        width: 40%;
        height: auto;
        border: 3px solid black;
        text-align: center;
        margin-top: 10px;
        margin-bottom: var(--buttonMarginBottom);
        padding-left: 1%;
        padding-right: 1%;
        background-color: var(--background-color-field);
    }
    
    .Dance {
        margin: auto;
        display: flex;
        align-items: center;
    }
    
    .DarkMode{
        --background-color: #000000;
        --background-color-field: grey;
    }
    
    .DarkModeIcon {
        background-repeat: no-repeat;
        position: absolute;
        top: 20px;
        right: 20px;
    }
    