:root {
    --buttonMarginBottom, 15px; 
}


body {
        background-color: #000000;
        /*background-color: #e4b554;*/
        background-image: url("pictures/smug-freiren-1.png");
        background-repeat: no-repeat;
        background-position-x: right;
    }
    .CuteAnimeRNG {
        margin: auto;
        width: 50%;
        border: 3px solid yellow;
        padding: 10px;
    }
    .InstructionText {
        margin: auto;
        width: 75%;
        text-align: center;
        font-size: xx-large;
        background-image: linear-gradient(to right, rebeccapurple, dodgerblue, limegreen, red);
        background-clip: text;
        -webkit-text-stroke-color: linear-gradient(to right, violet, dodgerblue, chartreuse, red);
        -webkit-text-stroke-width: medium;
        color: transparent;
        animation: rainbow_animation 6s linear infinite;
        background-size: 400% 100%;
    }

    @keyframes rainbow_animation {
        0%, 100% {
            background-position: 0 0;
        }

        50% {
            background-position: 100% 0;
        }
    }
    
    .ClearTextButton {
        background-color: grey;
        margin: auto;
        display: flex;
        align-items: center;
        width: 25%;
        border: 3px solid black;
        text-align: center;
        margin-bottom: 15px;
    }
    
    .GenerateButton {
        background-color: grey;
        margin: auto;
        display: flex;
        align-items: center;
        width: 25%;
        border: 3px solid black;
        text-align: center;
        margin-bottom: 15px;
    }
    
    .MinimumTextField {
        background-color: grey;
        margin: auto;
        display: flex;
        align-items: center;
        width: 15%;
        border: 1px solid black;
        text-align: center;
    }
    
    .MaximumTextField {
        background-color: grey;
        margin: auto;
        display: flex;
        align-items: center;
        width: 15%;
        border: 1px solid black;
        text-align: center;
        margin-bottom: 15px;
    }
    
    .GenerateTotalTextField{
        background-color: grey;
        margin: auto;
        display: flex;
        align-items: center;
        width: 20%;
        border: 1px solid black;
        text-align: center;
        margin-bottom: 15px;
    }
    
    .DisplayNumber {
        background-color: grey;
        margin: auto;
        display: flex;
        align-items: center;
        width: 15%;
        border: 1px solid black;
        text-align: center;
        margin-bottom: 15px;
    }
    
    .RandomNumberCopyButton {
        background-color: grey;
        margin: auto;
        display: flex;
        align-items: center;
        width: 20%;
        border: 3px solid black;
        text-align: center;
        margin-bottom: 15px;
    }
    
    .NotifyCopied {
        background-color: grey;
        margin: auto;
        display: flex;
        align-items: center;
        width: 20%;
        border: 3px solid black;
        text-align: center;
        margin-bottom: 15px;
    }
    
    .GeneratedNumbersTextField{
        font-size: x-large;
        margin: auto;
        display: flex;
        align-items: center;
        width: 40%;
        height: auto;
        border: 3px solid black;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 15px;
        padding-left: 1%;
        padding-right: 1%;
        /*background-color: white;*/
        background-color: grey;
    }
    
    .Dance {
        margin: auto;
        display: flex;
        align-items: center;
    }